@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  body{
    background: #001429;
  }
  a,a:hover{
    text-decoration: none;
    color: #fff;
  }
  
  ul{
    list-style: none;
  }
  
  li{
    display: inline-block;
  }
  
  #header{
    width: 100%;
    height: 100vh;
  }
  
  #header .nav-bar{
    width: 90%;
    height: 80px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
  }
  
  #header .nav-bar {
    margin-left: 50px;
  }
  
  #header .nav-bar .logo a{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
  }
  
  #header .nav-bar .logo span{
    font-size: 35px;
    color: #d43242;
    margin-left: 5px;
  }
  
  #header .nav-bar .menu ul li{
    margin-right: 30px;
  }

  .logo img{
   position: relative;
   height: 90px;
  }
  
  #header .nav-bar .menu ul li a{
    font-size: 19px;
    opacity: 0.6;
    letter-spacing: 2px;
    padding: 10px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.5s;
  }
  
  #header .nav-bar .menu ul li a.active{
    opacity: 1;
  }
  
  #header .nav-bar .menu ul li span{
    position: absolute;
    top: 0px;
    color: #fad962;
    font-size: 75px;
  }
  
  #header .nav-bar .menu ul li a:hover{
    opacity: 1;
  }
  
  #header .nav-bar .social-media ul li i{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    line-height: 45px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-size: 19px;
    background-color: #cac5c542;
    transition: all 0.3s ease-in-out;
  }
  
  #header .nav-bar .social-media ul li i:hover{
    background-color: #fad962;
  }
  
  .hero{
    width: 100%;
  }
  
  .hero .row{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin: auto;
  }
  
  .hero .row .left-sec{
    width: 30%;
    margin-top: 100px;
    margin-left: 50px;
  }
  
  .hero .row .left-sec h2{
    font-size: 85px;
    color: #fff;
  }
  
  .hero .row .left-sec h2 span{
    color: #fad962;
  }
  
  .hero .row .left-sec p{
    margin: 20px 0;
    color: #fff;
    line-height: 28px;
    padding-right: 150px;
  }
  
  .hero .left-sec .discover-btn{
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
    padding: 16px 32px;
    background-color: #fad962;
  }
  
  .hero .left-sec .discover-btn p{
    color: #000;
    font-size: 20px;
    letter-spacing: 2px;
    margin-right: 15px;
    text-transform: capitalize;
  }
  
  .hero .left-sec .discover-btn span{
    color: #fff;
    font-size: 45px;
  }
  
  
  .hero .information{
    width: 100%;
    display: flex;
    margin-top: 100px;
  }
  
  .hero .information .production{
    margin-right: 50px;
    line-height: 3px;
  }
  
  .hero .information .production h2{
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  .hero .information .production p{
    padding-right: 0;
    letter-spacing: 1px;
  }
  
  .hero .right-sec{
    width: 70%;
    padding-top: 100px;
  }
  
  .hero .right-sec img{
    width: 950px;
    height: 550px;
    margin: auto;
    float: right;
  }
  
  .slick-prev, .slick-next {
    top: 110%;
    z-index: 999;
  }
  
  .slick-prev {
    position: absolute;
    left: 950px;
  }
  
  .slick-next {
    position: absolute;
    right: 50px;
  }
  
  .slick-prev:before, .slick-next:before {
      font-size: 45px;
  }
  
  .slick-dots {
    padding-left: 450px;
    margin-bottom: -50px;  
  }
  
  .slick-dots li{
    margin-right: 15px;
  }
  
  .slick-dots li.slick-active:after{
    position: absolute;
    content: '.';
    top: 0;
    bottom: -15px;
    left: 6px;
    opacity: 1;
    color: #fad962;
    font-size: 36px;
  }
  
  .slick-slide {
      outline: none;
  }

  .heading{
    text-align: center;
    padding: 32px;
    padding-top: 50px;
    font-size: 88px;
    color: #fff;
  }


  .listProduct .item img{
    width: 450px;
    height: 270px;
  }

  .listProduct{
    display: inline-block;
    padding: 30px;
    padding-left: 100px;
  }

  .listProduct .item{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    
  }

  .listProduct .item h2{
    font-weight: 500;
    font-size: large;
  }

  .listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
  }

  .about-section{
    padding-top: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
  }

  .about-section h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 25px;
    position: relative;
  }

  .about-section h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #fad962;
  }
  
  .about-section p{
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
  }

  .container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
  }

  .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
  }

  .about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
  }

  .about-image:hover img{
    transform: scale(1.2);
  }

  .about-content{
    flex: 1;
  }

  .about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #fad962;
  }

  .about-content p{
    font-size: 18px;
    list-style: 1.5;
    color: #fff;
  }

  .about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fad962;
    color: #000000;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
  }

  .about-content .read-more:hover{
    background-color: #fcc707;
  }

  .blog-container img{
    width: 100%;
    height: 270px;
    
  }
  .blog-container{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 32px;
  }

  .blog-container .box{
    flex: 1 1 208px;
    padding: 20px;
  }

  .blog-container .box:hover{
    background-color: #002043;
  }

  .blog-container .box span{
    font-size: 13px;
    color: #fff  ;
  }

  .blog-container h3{
    font-size: 19px;
    color: #fff;
  }

  .blog-container .box p{
    font-size: 15px;
    margin: 4px 0;
    color: #fff;
  }

  .blog-container .box .blog-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: #fff;
    margin-top: 10%;
  }

  .blog-container .box .blog-btn .bx{ 
    font-size: 20px;
  }

  .blog-container .box .blog-btn:hover{
    color: #fad962;
    column-gap: 11px;
    transition: 0.4s;
  }

  .footer{
    background-color: #002043;
    color: #fff;
    border-top: 5px solid #fad962;
  }

  .footer-container{
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .footer-container .footer-box{
    display: flex;
    flex-direction: column;
  }

  .footer-box h3{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .footer-box a,
  .footer-box p{
    color: #818181;
    margin-bottom: 10px;
  }

  .footer-box a:hover{
    color: #fff;
  }

  #testimonials{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .testimonials-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonials-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #fad962;
    color: #000;
    padding: 10px 20px;
  }

  .testimonials-heading span{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .checked {
  color: orange;
  }

  .testimonials-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .testimonial-box{
    width: 500px;
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    height: 300px;
  }

  .profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .profile{
    display: flex;
    align-items: center;
  }

  .name-user{
    display: flex;
    flex-direction: column;
  }

  .name-user strong{
    color: #002043;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }

  .name-user span{
    color: #818181;
    font-size: 0.8rem;
  }    

  .box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .client-comment p{
    font-size: 0.9rem;
    color: #002043;
  }

  .testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;

  }

  :root {
	--yellow: #FFBD13;
	--blue: #4383FF;
	--blue-d-1: #3278FF;
	--light: #F5F5F5;
	--grey: #AAA;
	--white: #FFF;
	--shadow: 8px 8px 30px rgba(0,0,0,.05);
}


.wrapper {
	background-color: #F5F5F5;
	padding: 2rem;
	max-width: 576px;
	width: 100%;
	border-radius: .75rem;
	text-align: center;
  margin: 2rem;
}
.wrapper h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--yellow);
	margin-bottom: 2rem;
}
.rating .star {
	cursor: pointer;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
	background-color: rgb(219, 214, 214);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}
.btn-group .btn.submit {
	background-color: #3278FF;
	color:#F5F5F5);
}
.btn-group .btn.submit:hover {
	background-color: #135ff7;
}
.btn-group .btn.cancel {
	background: #F5F5F5;
	color: #3278FF;
}
.btn-group .btn.cancel:hover {
	background-color: #d4d2d2;
}

.form{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

form{
  background: #002043;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

.form h3{
  color: #01458d;
  font-weight: 800;
  margin-bottom: 20px;
}

.form input, .form textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: no;
  background: #f5f5f5 ;
  font-size: 16px;
}

form button{
  padding: 15px;
  background: #01458d;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}